.app-cs-m{
	height: 440px;    width: 100%;
	position: absolute;
	background-color: rgba(88, 212, 203, 0.5);
}

.cont-slider .carousel-item{
	height: 880px;
}

.carousel-control-prev, .carousel-control-next { width:auto; opacity: 1;}
.carousel-control-prev span, .carousel-control-next span {
	width: 6rem; height: 6rem;
	background: #ccc;
	color:#000;
}

.carousel-control-prev:hover span, .carousel-control-prev:focus span, .carousel-control-next:hover span, .carousel-control-next:focus span{

}
