<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-4">
				<div class="row">
					<h3>Contactenos</h3>
				</div>
				<div class="row">
					<span>Dirección: </span>
				</div>
				<div class="row">
					<span>E-Mail: </span>
				</div>
				<div class="row">
					<span>Teléfono: </span>
				</div>
			</div>
			<div class="col-12 col-md-4">
			</div>
			<div class="col-12 col-md-4">
			</div>
		</div>
		<div class="row">
			<div class="col-auto">
				2018, Smart Pass
			</div>
			<div class="col">
			</div>
			<div class="col-auto">
				<i class="app-stdbtn fa fa-angle-up"></i>
			</div>
		</div>		
	</div>
</footer>
