footer{
  font-size: 0.8em;
  background-color: #eee;
  box-shadow: 0px -7px 9px -11px;
}

footer div{margin-right: 0px;
margin-left: 0px;}

footer .list-group-item{
  border: none;
  background: none;
  padding: 0px;
}

.scroll-to-top {
  float: right;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background: #ccc;
  cursor: pointer;
  position: relative;
  z-index: 999;
  -webkit-transition: background-color .4s;
  -moz-transition: background-color .4s;
  -ms-transition: background-color .4s;
  -o-transition: background-color .4s;
  transition: background-color .4s;
}