
.footer {
  min-height: 200px;
  background: #fff;
}

.scroll-to-top {
  float: right;
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background: #ccc;
  cursor: pointer;
  position: relative;
  z-index: 999;
  -webkit-transition: background-color .4s;
  -moz-transition: background-color .4s;
  -ms-transition: background-color .4s;
  -o-transition: background-color .4s;
  transition: background-color .4s;
}
