<div class="row">
	<div class="col-md-9">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
		      <div href="#">todos</div>
		      <div><a href="#">recitales</a></div>
		      <div><a href="#">teatro</a></div>
		      <div><a href="#">deportes</a></div>
		    </ul>
			</div>
		</nav>
		<div class="row">
			<div class="col-md-4"><img class="img-fluid mx-auto d-block" src="//via.placeholder.com/600x400?text=1" alt="slide 1"></div>
			<div class="col-md-4"><img class="img-fluid mx-auto d-block" src="//via.placeholder.com/600x400?text=2" alt="slide 2"></div>
			<div class="col-md-4"><img class="img-fluid mx-auto d-block" src="//via.placeholder.com/600x400?text=3" alt="slide 3"></div>
		</div>
	</div>
	<div class="col-md-3">
		<app-publicidad></app-publicidad>
		<app-publicidad></app-publicidad>
	</div>
</div>
