.navbar-brand{ width: 245px; }

.nav-link{
  font-family: lato, options,sans-serif;
  margin-left: 0px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #333 !important;
}

.nav-item{
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-brand img { position: absolute; top: 0px; margin-top: 22px;margin-bottom: 12px; height: 72px;}

.navbar{ height: 105px; background:#fafafa; }
.navbar-nav .active, .nav-item:hover {border-bottom: 5px solid #f31e1e;}

nav .form-control{
    border-radius: 0px;
    border: 1px solid #eee;
    background-color: #eee;
}

nav .btn-search{
  background-color: #eee;
  border-radius: 0px;
  border: 1px solid #eee;
}

nav .btn-search {
  position: absolute;
  background: none;
  top: 6px;
  cursor:pointer;
  left: 8px;
  border: none;
}

nav .btn-search .fa{
  color:#777 !important;
}

nav .form-control {
  border-radius: 5px;
  border: none;
  background-color: rgba(255,255,255,0.3);
  padding-left: 32px;
  color:#777;
}

nav .form-control::placeholder { color: #777; }

nav form{margin-left: 1.5rem;}
