<div class="container">
  <nav class="navbar-expand-lg navbar">
    <a class="navbar-brand" routerLink="/"><img src="assets/img/logo.svg" width="auto" alt=""></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse row h-100" id="navbarSupportedContent">
      <div class="col-sm-auto h-100">
        <ul class="navbar-nav mr-auto align-self-end h-100">

          <li class="nav-item active">
            <a class="nav-link" routerLink="/home" href="#/home">Home</a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" routerLink="/events" href="#/home">Eventos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/smart-pass" href="#/home">Smart Pass</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" href="#/home">Contactenos</a>
          </li>

        </ul>
      </div>

      <!--<form class="my-2 my-lg-0 col-sm-4">
        <div class="input-group add-on">
          <input class="form-control" placeholder="Buscar por palabra clave" name="srch-term" id="srch-term" type="text" >
          <div class="btn-search"><i class="fa fa-search"></i></div>
        </div>
      </form>-->
    </div>

  </nav>
</div>
